<app-navbar></app-navbar>
<div class="about-section">
    <h1>About Us </h1>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Krishna Kanth</h2>
          <p class="title">CEO</p>
          
          <p>krishna@securebank.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Mani Swaroop</h2>
          <p class="title">COO</p>
          
          <p>mani@securebank.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Saketh Deshmukh</h2>
          <p class="title">CTO</p>
          
          <p>saketh@securebank.com</p>
          
        </div>
      </div>
    </div>
  </div>