<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:black;
      color: white;
      text-align: right;
    }
    </style>
    
    <div class="footer">
      <p>Secure Banking</p>
    </div>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink="/accountsummary">Recent Transactions</a></li>
        <li><a class="nav-link" routerLink="/accountstatement">Statement Between Two Dates</a></li>
        <li><a class="nav-link" routerLink="/userprofile">Customer Details</a></li>
        <li><a class="nav-link" routerLink="/neft">Money Transfer</a></li>

        </ul>
    </div>
</nav>