<!---<app-customerdetails></app-customerdetails>
    
<app-adminactions></app-adminactions>
<app-addpayee></app-addpayee>

<hr>
<app-adminlogin></app-adminlogin>
<app-addpayee></app-addpayee>

<hr>-->
<!-- <app-customerlogin></app-customerlogin>
<hr>-->

<!-- <app-customerlogin></app-customerlogin>
<hr>

<app-accountsummary></app-accountsummary>
<hr>

<app-userprofile></app-userprofile>
 
<app-customerdetails></app-customerdetails>-->
<!-- <app-adminlogin></app-adminlogin>
    
<app-accountstatement></app-accountstatement> -->


<!-- <app-customerlogin></app-customerlogin>
<hr>
<app-neft></app-neft> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-adminactions></app-adminactions> -->

<!-- <app-customerlogin></app-customerlogin>
<hr>

<app-neft></app-neft>
<app-customerlogin></app-customerlogin>
<hr>
<app-accountbalance></app-accountbalance> -->

<!-- <app-adminlogin></app-adminlogin> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-customerlogin></app-customerlogin>
<hr>
<app-accountsummary></app-accountsummary> -->
<app-header></app-header>
<div>
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>







 

