<div class="container">
<button class="btn-btn-primary"(click)="getaccountdetails()">More Details</button>
    <div class="jumbotron">

        <div class="card" style="width:400px">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <table class="table table -boarderd table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Account Number</th>
                        <th>Account Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of trans1">
                        <td><span>{{t.AccountNumber}}</span></td>
                        <td><span>{{t.AccountBalance}}</span></td>
                        
                    </tr>
                </tbody>
            </table>

              
            
            </div>
          </div>

    </div>
</div>
<!-- *ngFor="let t of trans1" -->